.main-container{
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

.user-pic-wrapper{
    height: 100%;
    width: 40%;
    background-color: slategrey;
}

.user-pic{
    height: 100%;
    width: auto;
}

.text-container{
    width: 60%;
    font-size: 17.5px;
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}

.user{
    text-align: left;
    font-size: 1.5rem;
    margin-top: 15px;
    padding-bottom: 30px;
}

.background{
    font-size: 1.3rem;
    color: gray;
}

.main-content{
    font-size: 1.1rem;
    text-align: justify;
}
